.form-img-2 {
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-content {
  text-align: center;
  flex: 1;
  color: white;
  font-size: xxx-large;
}
.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}

.signup {
  background-color: white;
  padding: 1rem;
  margin: 2rem auto;
  width: 100%;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  flex: 1;
}

.signup button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #6aef3e;
  background-color: #5cd634;
  color: white;
  border-radius: 12px;
  width: 100%;
}

.signup button:hover,
.signup button:active {
  background-color: #7ded58;
  border-color: #5cd634;
}

.signup button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.signup button.alternative:hover,
.signup button.alternative:active {
  background-color: #ddb3f8;
}

.signup__controls {
  display: block;
}

.signup__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
  margin: 10px 0;
}
.signup__control input[type=text]:focus {
  outline: none !important;
  border:1px solid purple;
  box-shadow: 0 0 10px #719ECE;
}

.free-trial{
  padding: 1rem;
  margin: 2rem auto;
  width: 100%;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgb(0 0 0 / 25%);
  flex: 1 1;
  font: inherit;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.signup__control p {
  color: red;
}

.form-content-right {
  flex: 1;
}